.feed-section {
  position: relative;
  .user-feed-container {
    margin: 1rem 0;
    padding: 1rem;

    border-bottom: 0.1rem solid var(--light-grey);

    .user-input {
      display: flex;
      align-items: start;
    }

    img {
      width: 50px;
      border-radius: 30px;
      border: 0.1rem solid var(--light-grey);
    }

    .input-field {
      //       background: green;
      height: 100px;
      width: 100%;
      border-radius: 5px;
      border: 0.1rem solid var(--light-grey);
    }
  }

  .load-btn-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.2rem 0;
    z-index: -3;

    button{
      padding: 0.5rem;
      border-radius: 50px;
      border: 1px solid var(--primary-red);
      
    }
  }


}

.show-load-new-button-challenge {
  top: 50px !important;
  z-index: 1 !important;
}

.loading-component {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:var(--background-color);

  img {
    width: 70px;
  }
}
