.post-card {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;

  a {
    color: var(--text-white);
  }

  .post-nav {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.7rem;

    img {
      border-radius: 30px;
      border: 1px solid var(--light-grey);
    }

    .user-detail {
      margin-left: 0.5rem;
      p {
        display: -webkit-box;
        min-width: 50px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        font-size: 0.8rem;

        span {
          margin-left: 0.2rem;
          margin-right: 0.2rem;
        }
      }
      span {
        font-size: 0.7rem;
        color: var(--grey);
      }

      .owner-name {
        color: var(--grey);
      }
    }
  }

  .post-body {
    h3 {
      margin: 0;
      margin-bottom: 0.3rem;
      font-size: 1rem;
      display: -webkit-box;
      min-width: auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      display: -webkit-box;
      min-width: auto;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
      font-size: 0.9rem;
    }
  }

  .post-footer {
    display: flex;
    align-items: center;
    margin-top: 0.7rem;

    span {
      font-size: 0.7rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .post-footer-item {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      color: var(--grey);

      font-size: 0.2rem;
    }
  }
}

.mrbeast-post-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  h3 {
    margin: 0;
  }

  .thumbnail-img {
    width: 100%;
    height: 100px;
  }

  .bg-primary-blue {
    background: var(--primary-blue);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 0.5rem;
    color: white;
  }

  .post-card-detail {
    display: flex;
  }

  .post-card-detail-body {
    display: flex;
    // flex-direction: column;
    padding-bottom: 0.7rem;

    h4 {
      margin: 0;
      padding: 0.3rem;

      display: -webkit-box;
      min-width: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .api-view-details {
      display: flex;
      align-items: center;
      margin-bottom: 0.3rem;
    }
    span {
      font-size: 0.7rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 501px) {
  .post-card {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
  }

  .mrbeast-post-card {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    // display: flex;

    .thumbnail-img {
      width: 100px;
    }

    .post-card-detail-body {
      flex-direction: row;
    }

    h4 {
      -webkit-line-clamp: 4 !important;
    }
  }
}
